<style>
  body{
  	   background-image: url("/images/plaid.geometric.jpg");
  	   background-position: center;
       color:white;
  }
</style>

<header>
	<h1 id="welcome_name">Welcome, <%=@user.f_name if @user %></h1>
		<div class="layout_content">
    <% if session[:user_id] %>
          <ul id="nav">
            <li class="list">
              <a href="/logout">
                Logout
              </a>
            </li>
            <li class="list">
              <a href="/posts">
                Post
              </a>
            </li>
 
            <li class="list">
              <a href="/home">
                Home
              </a>
            </li>
          </ul>
    <% end %>
</div>
</header>
<br>
<hr>
<div id="about_me">
	
<h4>About ME: </h4> 
	<p>
	I am a Homo Sapien living on planet Earth and I like stuff.<br>
	I enjoy other stuff. And I love doing stuff. But most, of all,<br>
	other stuff, is my true passion.</p>
</div>


<div id="homepage_content">
	<span class="homepage_subheader">Create a new post!</span>
	<div id="homepage_login">
		<form action="/posts" method="POST">
		  <label for="content" class="formlabel">Do tell...</label>
		  <textarea rows="4" cols="75" name="content" class="field" maxlength="150">Enter text here</textarea>	
		  <div class="submit">
		         <input type="submit" value="Submit" id="signin_submit"/>
          </div>
		</form>
    </div>
</div>

<div id="posts">
	<h1 class="all_posts"><center>Your Posts</center></h1>
		<% Post.all.each do |post|%>
		    <hr color="grey">
			<div class="post_f_name">
			   @<%=post.user.f_name + post.user.l_name %>
			</div> 
			<div class="post_content"> 
			   <%= post.content %>
			</div>
			<link><a href="/delete_post?post_id=<%= post.id %>">Delete</a></link>
			<link><a href="/edit_post?post_id=<%= post.id %>">Edit</a></link>
			<br>
		<% end %>	
<div>

